# Python
__pycache__/
*.py[cod]
*.pyo

# PyInstaller
build/
dist/

# ADB descargado automáticamente (se descarga al ejecutar)
assets/adb/adb.exe
assets/adb/AdbWinApi.dll
assets/adb/AdbWinUsbApi.dll

# Drivers descargados
assets/drivers/

# Entorno virtual
venv/
.venv/
env/

# Logs
*.log
